<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my name</title>
    <style>
    @import url('same.css');
</style>
</head>
<body>
    <div class="box">
        <div class="main">
            <h1>ALIOAM</h1>
        
        <div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
              
        </div>
        <div class="hii"><h3>6397674975 <br>my number </h3>
            
        </div>
        
     </div>
     <div class="high">
        <h5>15+ year of experience</h5>
        <h1>Better Private</h1>
        <h5>felis etiam pellentesque sceleisque Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facere delectus nostrum quisquam deleniti nobis ipsam doloremque, similique possimus</h5>
        <h3>Call Us Today</h3>
        <h1>6397674973</h1>
    </div>
    </div>

   
    <section class="blog">
        <div class="loyal">
        <div><h2>Lorem ipsum dolor sit amet</div></h2>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, vero eos cum libero</p></div>
    </div>
        <div class="neet">
        <div><h3>LET'S HUMOERS TALK</h3></div>
        <div>
            <h1>15+
            </h1>
            <div><h5>year in bus</h5></div>
        </div>
    

     

</section>
<div class="miss">
    <h1>OUR Services</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat atque quam</h3>
</div>
</div>
    <section class="pal">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQifr3a9nNGB8kll_bKZcAb9YGVlKibRZcuVRaCNuRd9zfcY2xh3RYm1iOl_Dct-HAhgQ8&usqp=CAU" alt="">
            <h1>my new page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque animi nihil,</p>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQifr3a9nNGB8kll_bKZcAb9YGVlKibRZcuVRaCNuRd9zfcY2xh3RYm1iOl_Dct-HAhgQ8&usqp=CAU" alt="">
            <h1>my new page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque animi nihil,</p>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQifr3a9nNGB8kll_bKZcAb9YGVlKibRZcuVRaCNuRd9zfcY2xh3RYm1iOl_Dct-HAhgQ8&usqp=CAU" alt="">
            <h1>my new page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque animi nihil,</p>
        </div>
    </section>
    <section class="index">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQifr3a9nNGB8kll_bKZcAb9YGVlKibRZcuVRaCNuRd9zfcY2xh3RYm1iOl_Dct-HAhgQ8&usqp=CAU" alt="">
            <h1>my new page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque animi nihil,</p>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQifr3a9nNGB8kll_bKZcAb9YGVlKibRZcuVRaCNuRd9zfcY2xh3RYm1iOl_Dct-HAhgQ8&usqp=CAU" alt="">
            <h1>my new page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque animi nihil,</p>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQifr3a9nNGB8kll_bKZcAb9YGVlKibRZcuVRaCNuRd9zfcY2xh3RYm1iOl_Dct-HAhgQ8&usqp=CAU" alt="">
            <h1>my new page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque animi nihil,</p>
        </div>
    </section>
    <div class="grid text-center">
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
</div>

</body>
</html>